{%  extends 'base.html.twig' %}
{% block title%}Liste des Tickets{% endblock %}
{% block body %}
    {% if tickets %}
        <table id="tickets" class="table table-striped">
            <thead>
            <tr>
                <th>titre</th>
                <th>nom de personne</th>
                <th>description</th>
                <th>statut</th>
                <th>date de création</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets  %}
                <tr>
                    <td>{{ ticket.titre }}</td>
                    <td>{{ ticket.nompersonne }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.statut }}</td>
                    <td>{{ ticket.datecreation|date('Y-m-d') }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation" >
            {{ knp_pagination_render(tickets) }}
        </div>

    {% else %}

        <div>
            <h1>Aucun tickets</h1>
        </div>

    {% endif %}
{% endblock %}